<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>PromptCam uses speech recognition for optional transcript features.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>For tagging GPS data to the videos</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>SplashBg</string>
		<key>UIImageName</key>
		<string>launchscreen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>slack</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleExternalDisplayNonInteractive</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>External Display</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).ExternalSceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>

